body {
  padding: 0;
  margin: 0;
  background-color: #202224;
  color: #ffffff;
  overflow: hidden;
}

.card,
.navbar,
.book-list {
  background-color: #343a40;
}

input[type="text"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="email"],
.input-group-text,
.form-select,
textarea {
  background-color: #343a40;
}

.form-select {
  color: #929496;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
textarea {
  background-color: #343a40;
}

.search-group {
  width: 20%;
}

.user-avatar {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 5px;
  line-height: 36px;
  border-radius: 50%;
  background-size: cover;
  color: white;
}
