body {
  padding: 0;
  margin: 0;
  background-color: #202224;
  color: #ffffff;
}

.card,
.navbar {
  background-color: #343a40;
}

input[type="text"],
input[type="number"],
input[type="url"],
.form-select,
textarea {
  background-color: #343a40;
}

.form-select {
  color: #929496;
}

input[type="text"]:hover,
input[type="number"]:hover,
input[type="url"]:hover,
textarea {
  background-color: #343a40;
}


